* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  background-image: url(https://plus.unsplash.com/premium_photo-1661955570907-c03dae52b089?q=80&w=1478&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

  background-position: top;
  /* background-repeat: no-repeat; */
  overflow-x: hidden;
  object-fit: cover;
  position: relative;
}
body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: black;
}
body::-webkit-scrollbar-thumb {
  background-color: aqua;
  width: 5px;
  border-radius: 10px;
}

/**_______ nav start________ **/
nav {
  background-color: #87cfeb38;
  backdrop-filter: blur(0px);
  position: absolute;
}
.logo {
  font-size: 50px;
  color: black;
  font-weight: 900;
  font-family: "Fuggles", cursive;
  margin-right: 50px;
}
.nav-link {
  color: black;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
}
.nav-item {
  margin-left: 20px;
}
.nav-item:hover {
  background: rgba(173, 216, 230, 0.459);
  border-radius: 2px;
}
nav img {
  height: 70px;
  width: 70px;
}
.dropdown-menu {
  background: #87cfeb83;
  /* backdrop-filter: blur(2px); */
}
.dropdown-item:hover {
  background-color: #eeeeee94;
}
.dropdown-item:active {
  background-color: #eeeeee80;
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  box-shadow: 0 5px 10px 0px rgba(112, 111, 111, 0.637);
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  z-index: 99;
}
.navbar-toggler-icon:active {
  border: none;
  outline: none;
}
.navbar-toggler {
  border: none;
  font-size: 25px;
  font-weight: 700;
}
.btn {
  background: rgba(58, 88, 100, 0.822);
  border: none;
  margin-left: 5px;
  transition: all ease 0.5s;
  color: white;
  font-weight: 500;
}
.btn:hover {
  background: rgba(173, 216, 230, 0.822);
  box-shadow: -3px 3px 0px rgba(0, 0, 0, 0.281);
}
.btn:active {
  scale: 0.95;
}
/**_________Nav end_____________**/

/**______nav bar media query start_____**/
@media (max-width: 1185px) {
  nav .logo {
    margin-right: 15px;
  }
  .btn {
    font-size: 15px;
  }
  .nav-item {
    margin-left: 10px;
  }
}
@media (max-width: 1081px) {
  nav .logo {
    margin-right: 15px;
  }
  .btn {
    font-size: 12px;
  }
  .nav-item {
    margin: 0;
  }
  .nav-link {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .nav-item {
    text-align: center;
  }
  .btns {
    display: flex;
    align-items: center;
  }
  .dropdown {
    position: relative;
  }
  .dropdown-menu {
    position: absolute;
    margin-left: 50%;
  }
}
@media (max-width: 375px) {
  .logo {
    font-size: 35px;
    margin-right: 10px;
  }
}
/**______nav bar media query end_____**/

/**__________Seciton start__________**/
#page1 {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #0000004f;
  z-index: -1;
  position: relative;
}
.content {
  height: 100vh;
  position: relative;
  margin-top: 140px;
  z-index: 1;
}
section h1 {
  color: aqua;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-family: "Work Sans", sans-serif;
}
.world {
  color: aqua;
}
h1::selection {
  background-color: black;
}
p::selection {
  background-color: black;
}
section p {
  color: aqua;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  font-family: "Cedarville Cursive", cursive;
}
.changetext {
  font-family: "Fuggles", cursive;
  font-size: 50px;
  font-weight: 900;
}
.changetext::after {
  content: "";
  animation: changeanime 3s infinite;
  transition: all ease 0.8s;
}

@keyframes changeanime {
  0% {
    content: "India";
    color: orangered;
  }
  20% {
    content: "India";
    color: orangered;
  }
  35% {
    content: "Germany";
    color: gold;
  }
  50% {
    content: "United Kingdom";
    color: rgb(0, 255, 110);
  }
  75% {
    content: "Switzerland";
    color: rgb(255, 0, 93);
  }
  90% {
    content: "Australia";
    color: #ebcd0e;
  }
  100% {
    content: "Australia";
    color: #ebcd0e;
  }
}

.book {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  position: absolute;
}
.new {
  position: relative;
  color: white;
  border: 2px solid #c5c5c5;
  padding: 5px 15px;
}
.new:hover {
  box-shadow: -2px 2px 1px rgba(135, 207, 235, 0.479);
  color: black;
  font-weight: 600;
}
/**______end of section_____**/

/**____Section media querry start____**/
@media (max-width: 425px) {
  #page1 {
    height: 80vh;
  }
  section h1 {
    font-size: 26px;
  }
  section p {
    font-size: 20px;
  }
}
/**____Section media querry end____**/

/**_______Sectiohn2/ page2_________**/
#page2 {
  display: flex;
  padding: 20px;
  background-color: black;
}
#bookings {
  width: 100%;
  height: 100%;
  background-color: #87cfeb83;
  box-shadow: 0px 0px 5px #c5c5c5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 25px;
  gap: 20px;
}
.brand-logo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 0px 5px black;
  background-color: #87cfeb93;
  border-radius: 5px;
}
.brand-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  filter: drop-shadow(5px 5px 15px);
  border-radius: 5px;
}
.booking-info {
  width: 50%;
  height: 100%;
  border: 1 px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: -1px 0px 5px black;
  border-radius: 5px;
  overflow-x: hidden;
  padding: 20px;
  background-color: #87cfeb93;
}
select {
  width: 100%;
  height: 30px;
  outline: none;
  border: grey;
  border-radius: 5px;
  background-color: aqua;
}
.form-floating textarea{
  height: 50px;
}
.form-control,
input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: aqua;
}
label {
  margin-top: 10px;
}
.book-btn {
  margin-top: 30px;
  height: 30px;
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgb(206, 230, 252);
  transition: all ease 0.5s;
}
.book-btn:hover{
  box-shadow: -2px 2px black;
}
.form-floating {
  margin-top: 20px;
  margin-bottom: 20px;
}
/**_________page2/ section2 Ends here_______**/

/**___________Media query for page2 starts here__________**/
@media (max-width: 650px) {
  #bookings {
    width: 100%;
    height: 100%;
    background-color: #87cfeb83;
    box-shadow: 0px 0px 5px #c5c5c5;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .brand-logo {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  .booking-info {
    width: 100%;
    height: 140%;
    padding: 10px;
  }
}
/**_____Media Quary for page2 ends here______**/

/**__________________Page3/ section3 starts here_____________**/
#page3 {
  width: 100vw;
  padding: 30px;
  background-color: #000000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
#package {
  height: inherit;
  width: 100%;
  display: flex;
  white-space: wrap;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  overflow: hidden;
}
.card-text {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  font-size: 12px;
  color: black;
}
.card {
  margin-right: 25px;
  padding: 2px;
  box-shadow: 0px 2px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-body {
  padding: 10px;
}
.price {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  font-size: 17px;
  color: black;
  font-weight: 700;
  margin: 0;
}
.star {
  color: goldenrod;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
}
.gallery-heading {
  text-align: center;
  margin-bottom: 20px;
color: whitesmoke;
}
.gallery-heading::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 50%; 
  background-color: whitesmoke;
  margin-top: 30px;
}
/**________page3 ends here_______**/

/**_____Page3 media quary starts here_______**/
@media (max-width:650px) {
  .gallery-heading{
    text-align: left;
    font-size: 20px;
  }
  .gallery-heading::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%; 
    background-color: black;
    margin-top: 20px;
  }
}
/**____Page3 media quary ends here_____**/

/**________Page4 starts here_______**/
#page4{
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url(https://indiacityblog.com/wp-content/uploads/2020/03/185289.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
#page4 .gallery-heading{
  background-color: #292929;
  margin-bottom: 0;
  color: whitesmoke;
  height: 80px;
  /* line-height: 80px; */
  padding: 25px;
}
#page4 .gallery-heading::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%; 
  background-color: whitesmoke;
  /* margin-top: 50px; */
}
.service-container{
  display: flex;
  white-space: nowrap;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  gap: 25px;
  background-color: rgba(0, 0, 0, 0.178);  
}
.service{
  width: 47%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.295);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  display: flex;
  text-wrap: wrap;
  
  
}
.service p{
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  text-align: left;
  margin-left: 5px;
  font-weight: 100;
}
.service i{
  color: aqua;
  font-size: 35px;
}

@media (max-width:650px) {
  #page4 .gallery-heading{
    background-color: black;
    margin-bottom: 0;
    color: whitesmoke;
    height: 80px;
    font-size: 20px;
  }
  .service-container{
    padding: 10px;
  }
  .service{
    width: 100vw;
  }
}


.modal-dialog,.modal-content{
 
  margin-top: 35px;
  background-color: rgba(135, 207, 235, 0.527);
  backdrop-filter: blur(3px);
  text-align: center;
  border-radius: 5px;
}